@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold font-sans my-4;
        @apply text-neutral-700 dark:text-neutral-400;
    }

    h1 {
        @apply text-2xl sm:text-3xl;
    }

    h2 {
        @apply text-xl sm:text-2xl;
    }

    h3 {
        @apply text-lg sm:text-xl;
    }

    h4 {
        @apply text-base sm:text-lg;
    }

    pre {
        @apply my-6;
    }

    p {
        @apply my-6;
    }

    a {
        @apply text-blue-700 dark:text-blue-400;
    }

    a:hover {
        @apply text-blue-400 dark:text-blue-300;
    }

    blockquote {
        @apply font-sans text-neutral-700 bg-neutral-200 italic border-l-4 border-neutral-600 px-3 py-1 mx-1 my-2;
        @apply dark:text-neutral-200 dark:bg-neutral-800 dark:border-neutral-400;
    }

    figure {
        @apply flex flex-col items-center my-4;
    }

    figcaption {
        @apply italic my-2 text-sm;
    }

    ul,
    ol {
        @apply ml-5 my-6;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    table {
        @apply table-auto;
    }

    td {
        @apply border px-4 py-2;
    }

    tr.even {
        @apply bg-neutral-100 dark:bg-neutral-900;
    }

    [class^="icon-"],
    [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: neutralscale;
    }

    .menu-link {
        @apply font-semibold font-mono m-2 px-1 no-underline text-sm sm:px-2 sm:text-base;
        @apply text-neutral-700 dark:text-neutral-400;
    }

    .title-logo {
        font-family: 'Dancing Script';
        @apply text-2xl sm:text-5xl;
        @apply text-neutral-800 dark:text-neutral-300;
    }

    .page-title {
        @apply text-3xl font-semibold pb-3 text-start font-sans sm:text-4xl;
        @apply text-neutral-700 dark:text-neutral-400;
    }
}

@font-face {
    font-family: 'OPPO Sans';
    font-weight: 400;
    src: url('../fonts/OPPOSans-R.ttf') format('TrueType');
}

@font-face {
    font-family: 'OPPO Sans';
    font-weight: 600;
    src: url('../fonts/OPPOSans-B.ttf') format('TrueType');
}