<div class="max-w-xs font-sans sm:min-w-full overflow-clip">
    $for(posts)$
    <div class="flex overflow-hidden flex-col mt-8 mb-12 rounded-3xl border-2 border-gray-400 sm:flex-row sm:mx-14 dark:border-zinc-600">
        $if(cover)$
        <a class="flex-1 min-w-fit" href="$url$">
            <img class="object-cover w-96 h-72 rounded-b-3xl shadow-sm sm:w-60 sm:h-44 sm:rounded-l-none sm:rounded-r-3xl" src="$cover$" loading="lazy"/>
        </a>
        $endif$
        <div class="grid flex-1 grid-flow-row justify-items-start px-6 sm:h-44">
            <a href="$url$" class="flex-auto justify-self-start place-self-end py-4 text-xl font-semibold sm:pt-6 post-list-title">
                $title$
            </a>
            <div class="flex flex-row justify-start">
                $for(tags)$
                <a href="/tags/$tag$.html" class="mr-2 text-sm text-neutral-600 dark:text-zinc-200">
                    $tag$
                </a>
                $endfor$
            </div>
            <div class="pt-2 pb-4 sm:pb-6">
                $date$
            </div>
        </div>
    </div>
    $endfor$
</div>
