<div class="col-auto pt-1 w-full sm:gap-10 font-sans">
    $for(posts)$
    <div class="flex flex-col w-full">

        <a href="$url$" class="text-xl font-semibold flex items-start justify-start w-full truncate pb-4">
            $title$
        </a>

        <div class="row flex-row flex justify-start">

            $for(tags)$
            <a href="/tags/$tag$.html" class="mr-2 text-sm text-neutral-600 dark:text-neutral-400">
                $tag$
            </a>
            $endfor$

        </div>

        <div class="flex items-center justify-start pl-0 pt-4 pb-12 text-neutral-600 dark:text-neutral-400">
            $date$
        </div>

    </div>
    $endfor$
</div>